body{
    background-position: fixed;
}
.body__margin{
    margin: 10px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
    margin: 0px;
    align-items: center;
}
.navbar__desk{
    display: none;
}
.navbar__desk a {
    margin: 20px;
    border-bottom: solid transparent 1px;

}

.navbar__slide {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 30;
    left: -60%;
    transition: 1s;

}

.navbar__slide a {
    text-align: center;
    margin-top: 20px;

}

.navbar__slide__close {
    text-align: right;
    margin-right: 5px;
    transition: 1s;
    cursor: pointer;
}

.slider {
    position: relative;
}

.slider {
    overflow: hidden;
    display: flex;
    width: 100%;
    border-radius: 5px;
}

.slider-image-container {
    display: flex;
    transition: 2s;
}

.slider-image {
    width: 100vw;
    height: 30vw;
}

.slider__desc {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 20%;
    left: 20%;
    align-items: center;
    font-size: 15px;

}
.brand__container{
    display: flex;
font-size: 10px;
width: 100vw;
}
.best__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
}

.best__container {
    display: flex;
    gap: 10px;
}

.best__container__card {
    background-color: rgb(216, 214, 214);
    font-size: 5px;
    padding: 10px;
    border-radius: 20px;
    flex-basis: 25%;
    flex-grow: 1;
    margin-top: 10px;
}

/* newarrivals */
.newarrivals__container {
    display: flex;
    flex-wrap: wrap;
gap: 10px;
}

.newarrivals__card {
    flex-basis: 22%;
    flex-grow: 1;
    position: relative;

}

.newarrivals__btn {
    position: absolute;
    top: 40%;
    left: 30%;
    background-color: white;
    padding: 3px;
    border-radius: 10px;
    font-family: bold;
    font-size: 10px;
}

.newarrivals__card img {
    margin: 0% auto;
    position: relative;

    
}
.opacity{
    width: 100%;
    height: 100%;
    background-color: black;
    position:absolute;
    top: 0px;
    opacity: 0.6;
    border-radius: 5px;

}
/* moswanted */
.mostwanted__container {
    display: flex;
    overflow-x: scroll;
    gap: 20px;
    margin-top: 2%;


}

.most__container__card {
    width: 40%;
    position: relative;

}

.most__container__card img {
    width: 325px;
    height: 120px;

    border-radius: 5px;
}

::-webkit-scrollbar {
    display: none;
}

.limited__offer {
    width: 100%;
    background-color: black;
    margin-top: 20px;
    position: relative;
    display: flex;
    align-items: center;
}

.limited__offer__desc {
    color: white;
    font-size: 10px;
    margin: 10px;
    text-align: center;
    width: 50%;
}

.join {
    text-align: center;
}

.join__inputbox {
    border: solid black 3px;
    margin-top: 10px;
    width: 80%;
    height: 50px;
}
.join{
    font-size: 10px;
}
.join__inputbox:focus {
    outline: none;
}

.join__btn {
    display: block;
    margin: 0% auto;
    background-color: black;
    color: white;
    margin-top: 10px;
    padding: 10px;
    border-radius: 50px;
}

.footer {
    width: 100%;
    background-color: black;
    color: white;
    height: 200px;
}

.footer__desc {
    font-size: 10px;
    width: 70%;
    margin: 20px;
    padding: 20px;

}

/* contact */
.contact {
    width: 70%;
    background-color: black;
    color: white;
    height: 500px;
    margin: 0% auto;
    border-radius: 20px;
}

.contact__desc {
    margin: 30px;
}

.contact__desc input {
    width: 100%;
    height: 70px;
}

.contact__desc textarea {
    width: 100%;
    height: 90px;
}

.contact__btn {
    background-color: rgb(111, 111, 244);
    color: black;
    display: block;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
}

/* collection */
#collection {
    display: flex;
    gap: 20px;
}
.collection__s1 {
    margin-top: 50px;

}

.collection__container__desc {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.collection__container__desc lable {
    font-size: 10px;
}

.collection__s2{
     border-left: solid black 1px;
}

.collection__searchbox input[placeholder]{
    font-size: 20px;
}
.collection__searchbox input{
    margin-left: 20px;
    font-size: 10px;
    width: 50%;
}
.collection__searchbox svg{
margin-right: 10px;
}
.collection__searchbox {
    display: flex;
    border: solid rgb(194, 192, 192) 2px;
    border-radius: 5px;
    width: 80%;
    height: 50px;
    margin-top: 50px;
    align-items: center;
    margin: 50px auto;
    justify-content: space-between;
}

.collection__searchbox input:focus {
    outline: none;
}


.product__container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.product__card {
    flex-basis: 22%;
    flex-grow: 1;
    text-align: center;
    font-size: 8px;
}
/* media queries for moblie view */
@media(min-width:0px) and (max-width:546px){
.ad{
    font-size: 10px;
}
    .slider__desc {
    top: 20%;
    left: 20%;
    font-size: 12px;
}
.best__title {
   
    font-size: 8px;
}
.newarrivals__btn {
    font-size: 7px;
    border-radius: 20px;
}
}
/* media queries for tablet mobile */
@media(min-width:546px) and (max-width:768px){
  .ad{
    font-size: 12px;
}
    .slider__desc {
    top: 20%;
    left: 20%;
    font-size: 20px;
}
.best__title {
   
    font-size: 10px;
}
.newarrivals__btn {
    font-size: 10px;
    border-radius: 20px;
}  
}
/* media queries for tablet */
@media(min-width:768px) and (max-width:992px){
      .slider{
        margin-top: 10px;
     } 
    .slider__desc {
    top: 20%;
    left: 20%;
    font-size: 30px;
}
.navbar__menuicon{
    display: none;
}
.navbar__desk{
    display: flex;
}
.navbar__desk a:hover{
    border-bottom: solid black 1px;
}
.brand__container{
font-size: 15px;
}
.best__title {
   
    font-size: 15px;
}
.best__container__card{
    font-size: 10px;
}
.newarrivals__btn {
    font-size: 20px;
    border-radius: 20px;
}
.limited__offer img {

    margin: 20px;
}

.limited__offer__desc {

    font-size: 20px;
}
.join{
    font-size: 10px;
}
.footer__desc {
    font-size: 10px;
}

.product__card {
    font-size: 15px;
}
}

/* media queries for desktop */
@media(min-width:992px) and  (max-width:1522px){
     .slider{
        margin-top: 10px;
     } 
    .slider__desc {
    top: 20%;
    left: 20%;
    font-size: 60px;
}
.navbar__menuicon{
    display: none;
}
.navbar__desk{
    display: flex;
    
}

.navbar__desk a:hover{
    border-bottom: solid black 1px;
}
.brand__container{
font-size: 20px;
}
.best__title {
   
    font-size: 20px;
}
.best__container__card{
    font-size: 20px;
}
.newarrivals__btn {
    font-size: 25px;
    border-radius: 20px;
}
.limited__offer img {

    margin: 20px;
}

.limited__offer__desc {

    font-size: 30px;
}
.join{
    font-size: 20px;
}
.footer__desc {
    font-size: 20px;
}
.collection__container__desc lable {
    font-size: 20px;
}
.product__card {
    font-size: 18px;
}

}