.navbar{
    display: flex;
    justify-content: space-between;
    position: sticky;
top: 0;
z-index: 2;
background-color: white;
}
.navbar__menuicon{
    display: none;

}
.navbar__menu a{
    margin: 20px;
}

.navbar__slide{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    width: 150px;
    position: absolute;
    z-index: 1;
    display: none;
}
.navbar__slide a{
    margin: 10px;
}
.navbar__slide__close{
    margin-left: 125px;
}
.slider{
    position: relative;
}
.slider__desc{
    display: flex;
justify-content: space-around;
    position: absolute;
    top: 150px;
    left: 300px;
    align-items: center;
    
}
.best__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}
.best__container{
    display: flex;
    gap: 20px;
}
.best__container__card{
    background-color: rgb(216, 214, 214);
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    flex-basis: 25%;
    flex-grow: 1;
    margin-top: 10px;
}
/* newarrivals */
.newarrivals__container{
    display: flex;
    flex-wrap: wrap;
}
.newarrivals__card{
    flex-basis: 25%;
    flex-grow: 1;
    position: relative;
    
}
.newarrivals__btn{
    position: absolute;
    top: 90px;
    left: 150px;
    background-color: white;
    padding: 3px;
    border-radius: 10px;
    font-family: bold;
}
.newarrivals__card img{
    margin: 0% auto;
}
/* moswanted */
.mostwanted__container{
    display: flex;
    overflow-x: scroll;
    gap: 20px;
    
}
.most__container__card{
    position: relative;
    width: 50%;
}
.most__container__card img{
    width: 100%;
    border-radius: 10px;
}
::-webkit-scrollbar{
    display: none;
}
.limited__offer{
    width: 100%;
    background-color: black;
    margin-top: 20px;
position: relative;
display: flex;
align-items: center;
}
.limited__offer__desc{
    color: white;
    font-size: 30px;
    margin: 10px;
    text-align: center;
}
.join{
    text-align: center;
}
.join__inputbox{
    border: solid black 3px;
    margin-top: 10px;
    width: 80%;
    height: 50px;
}
.join__inputbox:focus{
    outline: none;
}
.join__btn{
    display: block;
    margin: 0% auto;
    background-color: black;
    color: white;
    margin-top: 10px;
    padding: 10px;
    border-radius: 50px;
}
.footer{
    width: 100%;
    background-color: black;
    color: white;
    height: 200px;
}
.footer__desc{
    font-size: 20px;
    width: 400px;
    margin: 20px;
    padding: 20px;
    
}
/* contact */
.contact{
    width: 70%;
    background-color: black;
    color: white;
    height: 500px;
    margin: 0% auto;
    border-radius: 20px;
}
.contact__desc{
    margin: 30px;
}
.contact__desc input{
    width: 100%;
    height: 70px;
}
.contact__desc textarea{
    width: 100%;
    height: 90px;
}
.contact__btn{
    background-color: rgb(111, 111, 244);
    color: black;
    display: block;
margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
}

/* collection */
.collection__s1{
    margin-top: 50px;
}
.collection__container__desc{
display: flex;
flex-direction: column;
gap: 10px;

}
.collection__container__desc lable{
    font-size: 20px;
}
#collection__left{
display: flex;
}
.collection__s2{
    margin: 0% auto;
}
.collection__searchbox{
    display: flex;
    border: solid black 2px;
    border-radius: 5px;
    width: 80%;
    margin-top: 50px;
    align-items: center;
    margin: 50px auto;
    justify-content: space-between;
}
.collection__searchbox input:focus{
    outline: none;
}
#collection__right{
    margin-left: 20px;
}
.summer__container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.summer__card{
    flex-basis: 25%;
    flex-grow: 1;
}

@media screen and (max-width:500px){
    .footer{
        height: 150px;
    }
    .footer__desc{
        font-size: 10px;
        width: 200px;
    }
    .slider__desc{
    display: flex;
font-size: 8px;
    position: absolute;
    top: 30px;
    left: 20px;
}
.best__title{
 
    font-size: 10px;
}
.best__container__card{
 
    font-size: 6px;
    padding: 7px;
    border-radius: 20px;
    
}
.navbar__menuicon{
    display: flex;

}
.navbar__menu{
    display: none;
}
.collection__searchbox{  
    width: 100%;
}
}
@media screen and (max-width:800px){
   .navbar__menuicon{
    display: flex;

}
.navbar__menu{
    display: none;
} 
.newarrivals__btn{
    position: absolute;
    top:50px;
    left: 35px;
    background-color: white;
    padding: 3px;
    border-radius: 10px;
    font-family: bold;
    font-size: 10px;
}
.limited__offer__desc{
    font-size: 10px;
}
.limited__offer__desc h1{
    font-size: 20px;
}
.limited__offer img{
    width: 70%;
    margin: 10px;
}
}
